* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    line-height: 1.5rem;
    color: #000;
    font-size: 1rem;
    background: #F2F2F2;
    font-family: 'Arial', 'Microsoft YaHei', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
}

a {
    color: #000;
    text-decoration: none;
}

.clear-fixed:after {
    content: ".";
    display: block;
    line-height: 0;
    font-size:0;
    height: 0;
    clear: both;
    visibility: hidden
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.bbq-button {
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* Firefox: Get rid of the inner focus border */
.bbq-button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/*csslint outline-none:false*/

.bbq-button {
    font-family: inherit;
    font-size: 100%;
    padding: 0.5em 1em;
    color: #444; /* rgba not supported (IE 8) */
    color: rgba(0, 0, 0, 0.80); /* rgba supported */
    border: 1px solid #999;  /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
}

.bbq-button-hover,
.bbq-button:hover,
.bbq-button:focus {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.10)));
    background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: -moz-linear-gradient(top, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.10));
    background-image: -o-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
}
.bbq-button:focus {
    outline: 0;
}
.bbq-button-active,
.bbq-button:active {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
    border-color: #000\9;
}

.bbq-button[disabled],
.bbq-button-disabled,
.bbq-button-disabled:hover,
.bbq-button-disabled:focus,
.bbq-button-disabled:active {
    border: none;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    filter: alpha(opacity=40);
    -khtml-opacity: 0.40;
    -moz-opacity: 0.40;
    opacity: 0.40;
    cursor: not-allowed;
    box-shadow: none;
}

.bbq-button-hidden {
    display: none;
}

/* Firefox: Get rid of the inner focus border */
.bbq-button::-moz-focus-inner{
    padding: 0;
    border: 0;
}

.bbq-button-primary,
.bbq-button-selected,
a.bbq-button-primary,
a.bbq-button-selected {
    background-color: rgb(0, 120, 231);
    color: #fff;
}

.bbq-menu {
    padding: 0.5rem;
    text-align: left;
    background: #2d3e50;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
    width: 100%;
    white-space: nowrap;
}

.bbq-menu .bbq-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
    padding: .5em 1em;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
}

.bbq-menu .bbq-menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    float: right;
    position: relative;
}

.bbq-menu-list .bbq-menu-item {
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    height: 100%;
    position: relative;
}

.bbq-menu-item .bbq-menu-link {
    color: #6FBEF3;
    padding: .5em 1em;
    display: block;
    text-decoration: none;
    white-space: nowrap;
}

.bbq-menu-item .bbq-menu-link:hover,
.bbq-menu-item .bbq-menu-link:focus {
    background: none;
    border: none;
    color: #AECFE5;
}

.bbq-publisher-container {
    z-index: 1;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
}

.bbq-publisher {
    width: 540px;
    margin: auto;
}

.bbq-publisher-form {
    margin: 0.25rem 0;
    overflow: hidden;
}

.bbq-publisher-title, .bbq-publisher-buttons {
    margin: 0.25rem 0;
}

.bbq-publisher-limit {
    float: right;
}

.bbq-publisher-length {
    font-size: 0.9rem;
    font-style: italic;
}

.bbq-publisher-input {
    resize: none;
    width: 100%;
    height: 100px;
    border-radius: 2px !important;
    line-height: 1.4rem;
    outline: 0;
    word-wrap: break-word;
}

.bbq-publisher-buttons > button + button {
    margin-left: 1rem;
}

.bbq-publisher-buttons .bbq-button {
    background-color: #2d3e50;
    color: white;
    padding: 0.5rem 2rem;
}

/**
@font-face {
    font-family:'iconfont';
    src:url('../fonts/iconfont.eot');
    src:url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),url('../fonts/iconfont.woff') format('woff'),url('../fonts/iconfont.ttf') format('truetype'),url('../fonts/iconfont.svg#uxiconfont') format('svg')
}
.iconfont {
    font-family:iconfont!important;
    font-style:normal;
    -webkit-font-smoothing:antialiased;
    -webkit-text-stroke-width:.2px;
    -moz-osx-font-smoothing:grayscale
}
**/

.bbq-content {
    /* These styles are required for the "scroll-over" effect */
    width: 60%;
    margin: auto;
    min-height: 12%;
    z-index: 2;
    background: transparent;
}

.bbq-list {
    float: left;
    width: 50%;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.bbq-block {
    margin: 0 0.5rem 1rem;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    background-color: #ffffff;
    padding: 20px;
    overflow: hidden;
}

.avatar img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    vertical-align: middle;
}

.author {
    margin: 5px 0;
    padding-left: 10px;
    overflow: hidden;
}

.time {
    margin: 3px 0;
    padding-left: 10px;
    font-size: 0.9rem;
    color: #7f8c8d;
    overflow: hidden;
}

.bbq-text, .bbq-media {
    margin: 10px 0;
}

.bbq-media img {
    vertical-align: middle;
    max-height: 200px;
    max-width: 100%;
}

.bbq-pop {
    display: none;
    position: absolute;
    border: 1px solid #ccc;
    box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 1rem;
}

.bbq-pop-close:after {
    position: absolute;
    content: "\2716";
    z-index: 2;
    top: -1px;
    right: 3px;
    font-size: 18px;
    cursor: pointer;
    color: #696e78;
}

.bbq-pop-arrow {
    top: -11px;
    left: 18px;
    margin-left: -11px;
    border-color: transparent;
    border-bottom-color: #999;
    border-bottom-color: rgba(0, 0, 0, .25);
    border-width: 11px;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-top-width: 0;
}

.bbq-pop-arrow:after {
    top: 1px;
    margin-left: -10px;
    content: "";
    border: 10px solid transparent;
    border-top-width: 0;
    border-bottom-color: #fff;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
}

.bbq-faces {
    margin: 0;
    padding: 0;
    list-style: none;
}

.bbq-face {
    cursor: pointer;
    float: left;
    border: 1px solid #e8e8e8;
    height: 32px;
    width: 32px;
    overflow: hidden;
    margin: -1px 0 0 -1px;
    padding: 4px 2px;
    text-align: center;
}

.bbq-face img {
    width: 22px;
    height: 22px;
}

.bbq-preview-img {
    width: 120px;
    height: 120px;
    margin-top: 23px;
    margin-left: 23px;
}

.bbq-paginator {
    width: 540px;
    text-rendering: optimizespeed; /* Webkit: fixes text-rendering: optimizeLegibility */

    /* `bbq-paginator` Specific styles */
    list-style: none;
    margin: auto;
    padding: 0;
    text-align: center;
    clear: both;
}

/* `pure-u` Grid styles */
.bbq-paginator li {
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.bbq-paginator .pure-button {
    font-family: inherit;
    border-radius: 0;
    padding: 0.8rem 1.4rem;
    vertical-align: top;
    height: 1.1rem;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background-color: #fff;
}

.bbq-paginator .pure-button:focus,
.bbq-paginator .pure-button:active {
    outline-style: none;
}

.bbq-paginator .prev,
.bbq-paginator .next {
    color: #C0C1C3;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.45);
}

.bbq-paginator .prev {
    border-radius: 2px 0 0 2px;
}

.bbq-paginator .next {
    border-radius: 0 2px 2px 0;
}

.bbq-footer-container {
}

.bbq-footer {
    padding: 2rem 0;
    margin: 1rem auto 0;
    text-align: center;
    color: #fff;
    background-color: #2d3e50;
}

.bbq-footer a {
    color: #fff;
}

.bbq-footer a:hover {
    color: #fff;
    text-decoration: underline;
}
