<!doctype html>
<html lang="en" style="height:100%">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="bbq.">
    <title>BBQ</title>
    <link rel="stylesheet" href="css/normalize.css?v=2">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="css/bbq-old-ie.css?v=11">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="css/bbq.css?v=6">
    <!--<![endif]-->
</head>
<body style="height:100%">
<div id="main">
    <div class="bbq-menu">
        <a class="bbq-menu-heading" href="#">表白墙</a>
        <ul class="bbq-menu-list">
            <li class="bbq-menu-item"><a href="#" class="bbq-menu-link">登录</a></li>
            <li class="bbq-menu-item"><a href="#" class="bbq-menu-link">注册</a></li>
        </ul>
    </div>
    <div class="bbq-publisher-container">
        <div class="bbq-publisher">
            <form class="bbq-publisher-form">
                <h4 class="bbq-publisher-title">
                    <span>SAY THE HEARTS OF LOVE</span>
                    <span class="bbq-publisher-limit">
                        还可以输入<span class="bbq-publisher-length">200</span>字
                    </span>
                </h4>
                <textarea id="txtaBBQ" class="bbq-publisher-input"></textarea>
                <!--
                    <button type="button" id="btnFace" class="pure-button icon-look" title="表情" style="float:left;background-color: #2d3e50;color:#ffffff;
        margin: 8px 0;padding-top:0.282em;padding-bottom:0.282em;"><i class="iconfont" >&#xe635;</i>表情</button>
                    <button type="button" id="btnImage" class="pure-button icon-look" title="图片" style="float:left;background-color: #2d3e50;color:#ffffff;
        margin: 8px;padding-top:0.282em;padding-bottom:0.282em;"><i class="iconfont" >&#xe6d1;</i>图片</button>
        -->
                <div class="bbq-publisher-buttons clear-fixed">
                    <button id="btnFace" type="button" class="bbq-button float-left" title="表情">表情</button>
                    <button id="btnImg" type="button" class="bbq-button float-left" title="图片">图片</button>
                    <input id="inputImg" type="file" class="bbq-button-hidden">
                    <button id="btnPublish" type="button" class="bbq-button float-right">发布</button>
                </div>
            </form>
        </div>
    </div>
    <div class="bbq-content clear-fixed">
        <div id="bbqLoading" style="display:none;text-align: center;vertical-align: middle"><span>加载中</span></div>
        <ul id="bbqList1" class="bbq-list">
        </ul>
        <ul id="bbqList2" class="bbq-list">
        </ul>
        <!--
        <ul class="bbq-paginator" style="display:none;">
            <li><a class="pure-button prev" href="#">&#171;</a></li>
            <li><a class="pure-button" href="#">1</a></li>
            <li><a class="pure-button pure-button-active" href="#">2</a></li>
            <li><a class="pure-button" href="#">3</a></li>
            <li><a class="pure-button" href="#">4</a></li>
            <li><a class="pure-button" href="#">5</a></li>
            <li><a class="pure-button next" href="#">&#187;</a></li>
        </ul>
        -->
    </div>
    <div class="bbq-footer" style="display:none">
        Copyright © <a href="www.biaobaiqiang.net">表白墙</a>&nbsp;|&nbsp;
        <a href="#" target="_blank">关于我们</a>&nbsp;|&nbsp;
        <a href="http://weibo.com/u/5191312157" target="_blank">@新浪微博</a>&nbsp;|&nbsp;
        粤ICP备13050460号
    </div>
</div>
<script id="bbqTemplate" type="text/html">
    <li class="bbq-block" style="display:none">
        <div class="avatar float-left">
            <a href="#">
                {{if user && user.headpic}}
                <img src="{{user.headpic}}" alt="{{nickname}}">
                {{else}}
                <img src="./img/df.jpg" alt="{{nickname}}">
                {{/if}}
            </a>
        </div>
        <div class="author">
            <a href="#">{{nickname}}</a>
        </div>
        <div class="time">{{addtime}}&nbsp;&nbsp;{{location}}</div>
        <div class="bbq-text" title="{{addtime}}">{{content}}</div>
        {{if imageurl}}
        <div class="bbq-media">
            <a href="#" target="_blank">
                <img src="{{imageurl}}">
            </a>
        </div>
        {{/if}}
    </li>
</script>
<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
<!--
<script src="http://gsgd.co.uk/sandbox/jquery/easing/jquery.easing.1.3.js"></script>-->
<script src="./js/template.js?v=8&callback=alert"></script>
    <script>
        document.write("<scri"+"pt type='text/javascript' src='./js/main.js?t=" + Math.random() + "'></s"+"cript>");
    </script>

</body>
</html>
